In [1]:
import pandas as pd
import numpy as np
import random
from random import shuffle

In [2]:
#ideia: filtrar jogadores do dataframe com overall >= 76, essa será a nova tabela.
#fazer um pequeno menu, com 11 posições, separando esses jogadores entre essas posições.
#

In [3]:
df = pd.read_csv("Fifa 23 Players Data.csv")

In [4]:
corte = df.head(1405)

In [8]:
corte = corte[['Known As', 'Best Position', 'Overall']] 
corte['Best Position']. head()
goleiros = corte.loc[(corte["Best Position"]=="GK")]

In [9]:
corte = corte.dropna(axis = 1, how = 'all')

In [10]:
nome = goleiros['Known As']

In [11]:
sorteio = goleiros.iloc[np.random.choice(np.arange(len(goleiros)), 5, False)]

In [12]:
opcao1 = sorteio.head(1)
opcao2 = sorteio.head(2)
opcao3 = sorteio.head(3)
opcao4 = sorteio.head(4)
opcao5 = sorteio.head(5)
#usar loc

In [13]:
opcao5

        Known As Best Position  Overall
245  J. Pickford            GK       82
789      M. Ryan            GK       78
444      B. Leno            GK       80
438    T. Vaclík            GK       80
897    M. Turner            GK       77