In [56]:
import pandas as pd
import numpy as np
import random
from random import shuffle

In [57]:
#ideia: filtrar jogadores do dataframe com overall >= 76, essa será a nova tabela.
#fazer um pequeno menu, com 11 posições, separando esses jogadores entre essas posições.
#

In [58]:
df = pd.read_csv("Fifa 23 Players Data.csv", index_col = False)

In [59]:
df.reset_index(drop=True, inplace=True)

In [60]:
corte = df.head(1405)

In [61]:
corte = corte[['Known As', 'Best Position', 'Overall']]

In [62]:
corte

              Known As Best Position  Overall
0             L. Messi           CAM       91
1           K. Benzema            CF       91
2       R. Lewandowski            ST       91
3         K. De Bruyne            CM       91
4            K. Mbappé            ST       91
...                ...           ...      ...
1400  Y. Gómez Andrade            CB       76
1401         H. Moreno            CB       76
1402         Juan Mata           CAM       76
1403          S. Okaka            ST       76
1404     Miguel Veloso            CM       76

[1405 rows x 3 columns]

In [63]:
nome = corte[['Known As']]

In [64]:
nome

              Known As
0             L. Messi
1           K. Benzema
2       R. Lewandowski
3         K. De Bruyne
4            K. Mbappé
...                ...
1400  Y. Gómez Andrade
1401         H. Moreno
1402         Juan Mata
1403          S. Okaka
1404     Miguel Veloso

[1405 rows x 1 columns]

In [66]:
sorteio = random.randrange (len ( nome ))